.container {
  background-color: #f1f3f4;
  border-bottom: 1px solid #cacdd1;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 3px;
  padding: 2px;
}

.file {
  display: flex;
  justify-content: flex-end;

  overflow: hidden;
  white-space: nowrap;

  > a {
    color: #000;
    font-style: italic;
  }
}
